{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit">Signup</button>
    {{ form_end(form) }}
{% endblock %}
