{% extends 'base.html.twig' %}

{% block title %}Commander en ligne{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/order/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order/pizza.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order/basket.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order/footer.css') }}">
{% endblock stylesheets %}

{% block body %}
    <header>
        <a href="{{ path('nice_pizza_home') }}">
            <img src="{{ asset('img/logo.png') }}" alt="logo">
            <span>Nice Pizza</span>
        </a>
    </header>
    <main>
        <div class="container-pizzas">
            {% for pizza in pizzas %}
                {{ include('order/pizza.html.twig', {pizza: pizza}, with_context=false) }}
            {% endfor %}
        </div>
        <div class="container-basket">
            <h2>MA COMMANDE</h2>
            <div class="container-ordered-pizzas"></div>
            <div class="container-total">
                <span>TOTAL</span>
                <span id="total-price">0.00 €</span>
            </div>
            <button id="place-order-btn" disabled>COMMANDER</button>
        </div>
    </main>
    <footer></footer>
    <script src="{{ asset('js/order/utils.js') }}"></script>
    <script src="{{ asset('js/order/renderOrder.js') }}"></script>
    <script src="{{ asset('js/order/removePizza.js') }}"></script>
    <script src="{{ asset('js/order/addPizza.js') }}"></script>
    <script src="{{ asset('js/order/index.js') }}"></script>
{% endblock %}
